p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --main-text-color: #757575;
  --accent-text-color: #212121;
  --second-text-color: #fff;
  --active-text-color: #2196f3;
  --main-button-color: #2196f3;
  --background-team: #f5f4fa;
  --icon-socialnetwork-color: #afb1b8;
}

body {
  font-family: "roboto", "sans-serif";
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header {
  border-bottom: 1px solid var(--background-team);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  margin-right: 50px;
}

.header-link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  position: absolute;
  background-color: var(--main-button-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-navigate {
  display: flex;
  align-items: center;
}

.header__container {
  display: flex;
  align-items: center;
}

.header-navigate__list {
  display: flex;
}

.header-navigate__list :hover,
.header-navigate__list :focus {
  color: var(--active-text-color);
}

.header__contact {
  margin-left: auto;
}

.header .header-contact__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-text-color);
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .header-contact__link:hover, .header .header-contact__link:focus {
  color: var(--active-text-color);
}

.header-contact__link {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 50px;
}

.header-contact__link:hover .header-contact__icon,
.header-contact__link:focus .header-contact__icon {
  fill: var(--active-text-color);
}

.header-contact__icon {
  fill: var(--main-text-color);
  margin-right: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact__list {
  display: flex;
}

.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-logo__color {
  color: var(--active-text-color);
}

.hero {
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero__container {
  flex-grow: 1;
}

.hero__text {
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--accent-text-color);
}

.hero__btn {
  padding: 10px 32px 10px 32px;
  min-width: 200px;
  min-height: 50px;
  color: var(--background-team);
  background-color: var(--active-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:focus, .hero__btn:hover {
  color: var(--second-text-color);
  background: var(--main-button-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.rules-list__item {
  width: 270px;
}

.rules-list__item:not(:last-child) {
  margin-right: 30px;
}

.rules-list__icon {
  width: 100%;
  height: 100%;
  background-color: var(--background-team);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
}

.rules-list {
  display: flex;
}

.rules-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  padding-top: 30px;
  padding-bottom: 10px;
}

.rules-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.work-list__item {
  position: relative;
  margin-right: 30px;
}

.work-list__text {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paragraph {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  margin-bottom: 50px;
}

.work-section {
  padding-top: 0px;
}

.work__title {
  text-align: center;
}

.work-list {
  display: flex;
  text-align: center;
  margin-right: -30px;
}

.portfolio__btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  border-radius: 4px;
  cursor: pointer;
}

.portfolio__button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;
  border: 0;
  color: var(--accent-text-color);
  background-color: var(--background-team);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__button:focus, .portfolio__button:hover {
  color: var(--second-text-color);
  background-color: var(--main-button-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__btn-item:not(:last-child) {
  padding-right: 8px;
}

.portfolio__wrap {
  width: 370px;
  height: 404px;
}

.portfolio__wrap:hover, .portfolio__wrap:focus {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  opacity: 1;
}

.portfolio__overlay {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay:hover .overlay__text {
  transform: translateY(0);
}

.portfolio__overlay:hover::before, .portfolio__overlay:focus::before {
  opacity: 1;
}

.overlay__text {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 40px;
  height: 100%;
  color: #ffffff;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link {
  display: block;
  transition: border, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__work-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio__work-item {
  margin-left: 30px;
  margin-top: 30px;
  display: block;
}

.portfolio__description {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.portfolio__description-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--accent-text-color);
}

.portfolio__description-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  padding-top: 4px;
}

.team-list {
  display: flex;
}

.team__member {
  display: flex;
  justify-content: space-between;
}

.team-section {
  background-color: var(--background-team);
  display: flex;
}

.team-list__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  margin-top: 30px;
}

.team-list__member {
  background: var(--second-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.team-list__member:not(:last-child) {
  margin-right: 30px;
}

.team-list__text {
  font-style: regular;
  font-size: 16px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-top: 10px;
}

.team-description {
  margin: 30px 32px;
}

.team__socialnetworks-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 30px;
}

.socialnetworks-list__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.socialnetworks-list__item:not(:last-child) {
  margin-right: 10px;
}

.socialnetworks-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--second-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socialnetworks-list__link:hover, .socialnetworks-list__link:focus {
  background-color: var(--active-text-color);
}

.socialnetworks-list__icon {
  transition: fill, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #AFB1B8;
}

.socialnetworks-list__link:hover .socialnetworks-list__icon,
.socialnetworks-list__link:focus .socialnetworks-list__icon {
  fill: var(--second-text-color);
}

.team__title {
  text-align: center;
}

.custumers__text {
  width: 391px;
  height: 42px;
  left: 606px;
  top: 2401px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  display: flex;
}

.custumers-list {
  display: flex;
  margin-top: 50px;
}

.custumers-list__item {
  width: 170px;
  height: 92px;
}

.custumers-list__item:not(:last-child) {
  margin-right: 30px;
}

.custumers-list__link {
  width: 100%;
  height: 100%;
  background-color: var(--second-text-color);
  border: 1px solid var(--icon-socialnetwork-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.custumers-list__link:focus, .custumers-list__link:hover {
  border: 1px solid var(--main-button-color);
  fill: var(--main-button-color);
}

.custumers-list__icon {
  fill: var(--icon-socialnetwork-color);
  transition: fill, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.custumers-list__link:hover .custumers-list__icon,
.custumers-list__link:focus .custumers-list__icon {
  fill: var(--main-button-color);
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
  display: block;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer-socialnetworks-list {
  display: flex;
  margin-top: 20px;
}

.footer__socialnetworks {
  width: 206px;
  height: 80px;
  margin-right: auto;
  margin-left: 70px;
}

.socialnetworks-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socialnetworks-list__link:hover, .socialnetworks-list__link:focus {
  background: var(--main-button-color);
}

.socialnetworks-list__icon-footer {
  fill: var(--background-team);
}

.footer-socialnetwork__text {
  width: 219px;
  height: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  text-align: left;
}

.footer-main__logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.adress-footer {
  margin-top: 20px;
}

.footer-main__logo-color {
  color: var(--active-text-color);
}

.footer-list__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.adr {
  color: rgba(255, 255, 255, 0.6);
}

.footer-list :hover,
.footer-list :focus {
  color: var(--active-text-color);
}

.footer-subscribe__text {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  background-color: #2f303a;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: white;
}

.footer-subscribe__text:focus {
  border-color: var(--second-text-color);
}

.footer-subscribe__text:focus::placeholder {
  color: white;
}

.footer-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.footer-subscribe::placeholder {
  font-size: 16px;
  line-height: 1.25;
}

.footer-btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  border: 0;
  background: #2196f3;
  color: white;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-btn:focus, .footer-btn:hover {
  background-color: #188ce8;
}

.footer-subscribe__icon {
  width: 24px;
  height: 24px;
  fill: var(--second-text-color);
  margin-left: 10px;
}

.socialnetworks-list__footer {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.socialnetworks-list__footer:not(:last-child) {
  margin-right: 10px;
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 1000ms, visibility 1000ms;
}

.backdrop.is-hidden .modal {
  transform: scale(1.7) rotate(90deg);
  transition: transform 500ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform 500ms;
  padding: 40px;
}

.modal__close-btn {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
}

.modal__close-icon {
  fill: black;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-icon:focus, .modal__close-icon:hover {
  fill: var(--active-text-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-form__title {
  width: 100%;
  height: 23px;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  margin-bottom: 12px;
}

.modal-form__label {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  padding-bottom: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 42px;
  color: var(--accent-text-color);
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  cursor: pointer;
}

.modal-form-input:focus + .input-icon {
  fill: var(--active-text-color);
}

.input-icon {
  width: 18px;
  height: 18px;
  left: 15px;
  top: 14px;
  bottom: 14px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--accent-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__textarea:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  cursor: pointer;
}

.modal-form__textarea::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-field-checkbox {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-form__check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__link {
  color: var(--active-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-form__check-item {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-form__checkbox:checked + .modal-form__check-text .modal-form__check-item {
  background-color: #188ce8;
  border: none;
}

.fieldset-agree {
  margin-top: 20px;
  margin-bottom: 30px;
  border: none;
}

.modal-form__input-wrap {
  position: relative;
  margin-bottom: 10px;
}

.modal-button {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 712px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  color: var(--second-text-color);
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
}

.modal-button:focus, .modal-button:hover {
  background-color: #188ce8;
}

.modal-form__check-icon {
  position: absolute;
  width: 11px;
  height: 8px;
  fill: var(--second-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
/*# sourceMappingURL=main.css.map */