.header {
    border-bottom: 1px solid var(--background-team);
  }
  
  .header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-text-color);
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    margin-right: 50px;
  }
  
  .header-link.current::after {
    content: "";
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    border-radius: 2px;
    position: absolute;
    background-color: var(--main-button-color);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .header-navigate {
    display: flex;
    align-items: center;
  }
  
  .header__container {
    display: flex;
    align-items: center;
  }
  
  .header-navigate__list {
    display: flex;
    & :hover,
    & :focus {
    color: var(--active-text-color);}
  }
  
  .header__contact {
    margin-left: auto;
  }
  
  .header .header-contact__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--main-text-color);
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    color: var(--active-text-color);}
  }
    
  .header-contact__link {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-right: 50px;
    &:hover .header-contact__icon,
    &:focus .header-contact__icon {
    fill: var(--active-text-color);}
  }

  .header-contact__icon {
    fill: var(--main-text-color);
    margin-right: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
      
  .header-contact__list {
    display: flex;
  }
  
  .header-logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-text-color);
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
  
  .header-logo__color {
    color: var(--active-text-color);
  }