.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    transition: opacity 1000ms, visibility 1000ms;
  }
  
  .backdrop.is-hidden  {
    .modal {
      transform: scale(1.7) rotate(90deg);
      transition: transform 500ms;}
  }
  
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    min-height: 581px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    transition: transform 500ms;
    padding: 40px;
  }
  
  .modal__close-btn {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
    right: 8px;
    top: 8px;
  }
  
  .modal__close-icon {
    fill: rgba(0, 0, 0, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
      fill: var(--active-text-color);}
  }
    
  .is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  
  .modal-form__title {
    width: 100%;
    height: 23px;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--accent-text-color);
    margin-bottom: 12px;
  }
  
  .modal-form__label {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 1);
    padding-bottom: 4px;
  }
  
  .modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 42px;
    padding-right: 42px;
    color: var(--accent-text-color);
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
      border: 1px solid rgba(33, 150, 243, 1);
      border-radius: 4px;
      cursor: pointer;}
      }

      .modal-form-input:focus + .input-icon {
        fill: var(--active-text-color);
      }
      
  
  .input-icon {
    width: 18px;
    height: 18px;
    left: 15px;
    top: 14px;
    bottom: 14px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--accent-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
   
  .modal-form__textarea {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 16px;
    resize: none;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
      border: 1px solid rgba(33, 150, 243, 1);
      border-radius: 4px;
      cursor: pointer;}
      &::placeholder {
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);}
  }
   
  .modal-field-checkbox {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-form__check-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
    display: flex;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
  
    .modal-form__link {
      color: var(--active-text-color);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
  .modal-form__check-item {
    width: 16px;
    height: 15px;
    border: 2px solid rgba(33, 33, 33, 1);
    border-radius: 2px;
    margin-right: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-form__checkbox:checked + .modal-form__check-text .modal-form__check-item {
    background-color: #188ce8;
    border: none;
  }
  
  .fieldset-agree {
    margin-top: 20px;
    margin-bottom: 30px;
    border: none;
  }
  
  .modal-form__input-wrap {
    position: relative;
    margin-bottom: 10px;
  }
  
  .modal-button {
    width: 200px;
    height: 50px;
    left: 700px;
    top: 712px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0;
    color: var(--second-text-color);
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    letter-spacing: 0.06em;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    &:focus,
    &:hover {
      background-color: #188ce8;}
  }
   
  .modal-form__check-icon {
    position: absolute;
    width: 11px;
    height: 8px;
    fill: var(--second-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }