.rules-list__item {
    width: 270px;
    &:not(:last-child) {
      margin-right: 30px;}
    }
    
  
  .rules-list__icon {
    width: 100%;
    height: 100%;
    background-color: var(--background-team);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;    
  }
  
  .rules-list {
    display: flex;
  }
  
  .rules-list__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--accent-text-color);
    padding-top: 30px;
    padding-bottom: 10px;
  }
  
  .rules-list__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
  }
  