:root {
  --second-title-color: #212121;
  --main-text-color: #757575;
  --main-title-color: #212121;
  --second-text-color: #ffffff;
  --accent-color: #2196f3;
  --main-btn-color: #ffffff;
  --header-text-color: #212121;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --footer-background-color: #2f303a;
}